#backdrop {
  -fx-background-color: #242424;
}

#operation-buttons {
  -fx-font-size: 25px;
  -fx-background-color: #7dd0d0;
  -fx-border-width: 1px;
  -fx-border-color: #545454;
}

#util-buttons {
  -fx-background-color: #a7a7a7;
  -fx-font-weight: bold;
  -fx-border-width: 1px;
  -fx-border-color: #868686;
}

.white-text-buttons {
  -fx-text-fill: #dbdbdb;
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

#minus-button {
  -fx-font-size: 35px;
}